Workflows/90BudgetUsageAlertFlow-1A75D553-F453-EF11-BFE3-002248D5F5B9.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "impersonation": {},
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "vs_sharedcommondataserviceforapps_ca4d8"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "vs_sharedoffice365_8b4c4"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "subscriptionRequest/message": 7,
              "subscriptionRequest/entityname": "cr2e0_tbl_expenses",
              "subscriptionRequest/scope": 4
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_a_row_by_ID": {
          "runAfter": {},
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "cr2e0_tbl_budgets",
              "recordId": "@triggerBody()?['_vs_budget_value']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "List_rows": {
          "runAfter": {
            "Get_a_row_by_ID": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "cr2e0_tbl_expenseses",
              "$filter": "_vs_budget_value eq @{body('Get_a_row_by_ID')?['cr2e0_tbl_budgetid']}"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Select": {
          "runAfter": {
            "List_rows": [
              "Succeeded"
            ]
          },
          "type": "Select",
          "inputs": {
            "from": "@outputs('List_rows')?['body/value']",
            "select": "@item()?['cr2e0_expense']"
          }
        },
        "Initialize_variable": {
          "runAfter": {
            "Select": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "expenses",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "For_each": {
          "foreach": "@outputs('Select')['body']",
          "actions": {
            "Increment_variable": {
              "type": "IncrementVariable",
              "inputs": {
                "name": "expenses",
                "value": "@items('For_each')"
              }
            }
          },
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "type": "Foreach"
        },
        "Compose": {
          "runAfter": {
            "For_each": [
              "Succeeded"
            ]
          },
          "type": "Compose",
          "inputs": "@div(mul(variables('expenses'), 100), body('Get_a_row_by_ID')?['cr2e0_budgetamount'])"
        },
        "Condition": {
          "actions": {
            "Compose_1": {
              "type": "Compose",
              "inputs": "Greater than 50 "
            },
            "Get_a_row_by_ID_1": {
              "runAfter": {
                "Compose_1": [
                  "Succeeded"
                ]
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "systemusers",
                  "recordId": "@triggerBody()?['_createdby_value']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Compose_3": {
              "runAfter": {
                "Get_a_row_by_ID_1": [
                  "Succeeded"
                ]
              },
              "type": "Compose",
              "inputs": "@body('Get_a_row_by_ID_1')?['internalemailaddress']"
            },
            "Send_an_email_(V2)": {
              "runAfter": {
                "Compose_3": [
                  "Succeeded"
                ]
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "emailMessage/To": "@body('Get_a_row_by_ID_1')?['internalemailaddress']",
                  "emailMessage/Subject": "\"Budget Alert: Exceeded 90% Threshold\"",
                  "emailMessage/Body": "<p class=\"editor-paragraph\"><span>Hi,\n\nThis is an alert to notify you that the expenses for the budget titled \"</span>@{body('Get_a_row_by_ID')?['cr2e0_budgettitle']}\" have exceeded 90% of the allocated amount.</p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\"><span>Please review the expenses to take necessary actions.\n\nBest regards,\nBudget Tracker App</span></p>",
                  "emailMessage/Importance": "Normal"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                  "connectionName": "shared_office365",
                  "operationId": "SendEmailV2"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Compose": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Compose_2": {
                "type": "Compose",
                "inputs": "\"Not Greater than 50"
              }
            }
          },
          "expression": {
            "and": [
              {
                "greaterOrEquals": [
                  "@outputs('Compose')",
                  50
                ]
              }
            ]
          },
          "type": "If"
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}